
# Create a function

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

If the number is divisible by 3, write Fizz instead of the number
If the number is divisible by 5, write Buzz instead of the number
If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number
To solve this, we will follow these steps −

For all number from 1 to n,
if a number is divisible by 3 and 5 both, print “FizzBuzz”
otherwise when the number is divisible by 3, print “Fizz”
otherwise when the number is divisible by 5, print “Buzz”
otherwise, write the number as a string

Return the nth fibonacci number. Write a function that takes one argument and returns the value in the fibonacci series. 
Fibonacci series is defined as: a series of numbers in which each number (Fibonacci number) is the sum of the 
    two preceding numbers. 
    The simplest is the series 1, 1, 2, 3, 5, 8, etc. (source:Oxford)

# Regular Expressions for String Manipulation

In [1]:
import re

Find a tutorial and cheat sheet for regrex here:
https://www.geeksforgeeks.org/regular-expression-python-examples-set-1/

In [2]:
# Suppose there is a free text "comments" field in a dataset and you want to extract relevant information
# Using regex, extract the birthdates from the strings below
string1 = """Patient DOB 01/01/1955. No current medication"""
string2 = """Hot Wheels cake, red and orange. For boy. Will be picked up 3-25-21"""
string3 = """01/05/1999 order placed. 04/15/1999 order rec'd."""

In [3]:
# Suppose you have a list of emails, but you need to construct a list of names
# Using regex, create a dataframe of just the first and last names, with first names in one column and last names in another

emails = """becky.crawford@cgi.com, suzy.snowflake@cgi.com, patrick.star@cgi.com,"""

# Working with public APIs

We will use this site as reference: 
    https://realpython.com/python-api/#:~:text=When%20consuming%20APIs%20with%20Python%2C%20there%E2%80%99s%20only%20one,by%20running%20the%20following%20command%20in%20your%20console%3A

API stands for application programming interface. In essence, an API acts as a communication layer, 
or as the name says, an interface, that allows different systems to talk to each other without having to
understand exactly what each other does.  You usually make a request for information or data, and the API 
returns a response with what you requested.  This is also known as calling an API.

The main HTTP Methods are: GET, POST, PUT & DELETE

TO DO: run this in the terminal $ python -m pip install requests

In [4]:
import requests
response = requests.get("https://randomuser.me/api/")
response.text

'{"results":[{"gender":"female","name":{"title":"Miss","first":"Cremilda","last":"Monteiro"},"location":{"street":{"number":5131,"name":"Rua Dezenove de Outubro"},"city":"Presidente Prudente","state":"Espírito Santo","country":"Brazil","postcode":85747,"coordinates":{"latitude":"-75.6927","longitude":"169.3651"},"timezone":{"offset":"-6:00","description":"Central Time (US & Canada), Mexico City"}},"email":"cremilda.monteiro@example.com","login":{"uuid":"294384b4-d26a-4207-89ec-aa18b85d3044","username":"smallmouse691","password":"valdepen","salt":"jAPidEsJ","md5":"b41125cc7a0783be27a00621266c71bb","sha1":"da8753f2c045619c99e00caffee07540d78b6fef","sha256":"386eb29fac2890bbe2d0eb6278c69af31daa1b8258e767ee9bc2960db0f01a89"},"dob":{"date":"1948-04-13T18:34:49.014Z","age":74},"registered":{"date":"2011-02-25T09:30:39.298Z","age":11},"phone":"(53) 8202-2799","cell":"(74) 5172-2068","id":{"name":"","value":null},"picture":{"large":"https://randomuser.me/api/portraits/women/71.jpg","medium":"https://randomuser.me/api/portraits/med/women/71.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/women/71.jpg"},"nat":"BR"}],"info":{"seed":"3a2c2d275f99ee92","results":1,"page":1,"version":"1.3"}}'

In [5]:
response = requests.get("https://api.thedogapi.com/v1/breeds/184")
response.text

'{"weight":{"imperial":"25 - 30","metric":"11 - 14"},"height":{"imperial":"10 - 12","metric":"25 - 30"},"id":184,"name":"Pembroke Welsh Corgi","bred_for":"Driving stock to market in northern Wales","breed_group":"Herding","life_span":"12 - 14 years","temperament":"Tenacious, Outgoing, Friendly, Bold, Playful, Protective","reference_image_id":"rJ6iQeqEm"}'

In [6]:
response.json()

{'weight': {'imperial': '25 - 30', 'metric': '11 - 14'},
 'height': {'imperial': '10 - 12', 'metric': '25 - 30'},
 'id': 184,
 'name': 'Pembroke Welsh Corgi',
 'bred_for': 'Driving stock to market in northern Wales',
 'breed_group': 'Herding',
 'life_span': '12 - 14 years',
 'temperament': 'Tenacious, Outgoing, Friendly, Bold, Playful, Protective',
 'reference_image_id': 'rJ6iQeqEm'}

In [7]:
query_params = {"q": "Corgi"}
endpoint = "https://api.thedogapi.com/v1/breeds/search"
requests.get(endpoint, params=query_params).json()

[{'weight': {'imperial': '25 - 38', 'metric': '11 - 17'},
  'height': {'imperial': '10.5 - 12.5', 'metric': '27 - 32'},
  'id': 68,
  'name': 'Cardigan Welsh Corgi',
  'bred_for': 'Cattle droving',
  'breed_group': 'Herding',
  'life_span': '12 - 14 years',
  'temperament': 'Affectionate, Devoted, Alert, Companionable, Intelligent, Active',
  'reference_image_id': 'SyXN-e9NX'},
 {'weight': {'imperial': '25 - 30', 'metric': '11 - 14'},
  'height': {'imperial': '10 - 12', 'metric': '25 - 30'},
  'id': 184,
  'name': 'Pembroke Welsh Corgi',
  'bred_for': 'Driving stock to market in northern Wales',
  'breed_group': 'Herding',
  'life_span': '12 - 14 years',
  'temperament': 'Tenacious, Outgoing, Friendly, Bold, Playful, Protective',
  'reference_image_id': 'rJ6iQeqEm'}]

Read more about API's or even learn how to create a REST API Here: https://realpython.com/flask-connexion-rest-api/